/**
 * Vantaa DC01-NWP HOST to DISPLAY HOST API 
 * API for Vantaa DC01 between NETWORK HOST [NWP] and DISPLAY HOST [DHP].  You can find out more about Smartlabs DC01 at [https://smartlabsinc.com](h://smartlabsinc.com).   For this sample, you can use the api key `special-key` to test the authorization     filters.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: info@smartlabsinc.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.BacklightLevelActive
import io.swagger.client.model.BacklightLevelSleep
import io.swagger.client.model.LightLevel
import io.swagger.client.model.LightMode
import io.swagger.client.model.OnLevel
import io.swagger.client.model.ProxEnable
import io.swagger.client.model.ProxRange
import io.swagger.client.model.RingTrackspeed
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object LocalApi {

  /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param body objects needed to change the backlight level during display active
   */
  def backlightLevelActive(body: BacklightLevelActive): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/local/screen/backlight_level_active", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param body objects needed to change the backlight level during display sleep
   */
  def backlightLevelSleep(body: BacklightLevelSleep): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/local/screen/backlight_level_sleep", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param body If in dimmer mode, this is a percentage of dimmable range (0-100%).If in relay mode, constrained to either 0 (&#39;off&#39;) or 100 (&#39;on&#39;).
   */
  def lightLevel(body: LightLevel): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/local/load/light_level", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param body Indicates if the switch acts as an on/of &#39;relay&#39; or &#39;dimmer&#39;
   */
  def lightMode(body: LightMode): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/local/load/light_mode", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param body If in dimmer mode, level that device goes to @ ramp_rate when on is received.  Value of on_level is treated as a percentage.
   */
  def onLevel(body: OnLevel): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/local/load/on_level", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param body objects needed to change the proximity range of the display
   */
  def proxEnable(body: ProxEnable): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/local/screen/prox_enable", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param body objects needed to change the proximity range of the display
   */
  def proxRange(body: ProxRange): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/local/screen/prox_range", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param body objects needed to change the ring trackspeed
   */
  def ringTrackspeed(body: RingTrackspeed): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/local/screen/ring_trackspeed", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](405)
      

}

