/**
 * Vantaa DC01-NWP HOST to DISPLAY HOST API 
 * API for Vantaa DC01 between NETWORK HOST [NWP] and DISPLAY HOST [DHP].  You can find out more about Smartlabs DC01 at [https://smartlabsinc.com](h://smartlabsinc.com).   For this sample, you can use the api key `special-key` to test the authorization     filters.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: info@smartlabsinc.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.Allonmode
import io.swagger.client.model.Beaconmode
import io.swagger.client.model.Factoryreset
import io.swagger.client.model.LightLevel
import io.swagger.client.model.Linkmode
import io.swagger.client.model.QR
import io.swagger.client.model.Reset
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object NwpApi {

  /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * Available security schemes:
   *   api_key (apiKey)
   * 
   * @param apiKey 
   * @param body objects for sending active sceen to NWP
   */
  def activescenes(apiKey: String, body: QR)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/nwp/scenes/active", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withBody(body)
      .withHeaderParam("api_key", apiKey)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param apiKey 
   * @param body allon setting
   */
  def allonmode(apiKey: String, body: Allonmode): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/nwp/insteon/allon", "application/json")
      .withBody(body)
      .withHeaderParam("api_key", apiKey)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param apiKey 
   * @param body linkmode setting
   */
  def beaconmode(apiKey: String, body: Beaconmode): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/nwp/insteon/beaconmode", "application/json")
      .withBody(body)
      .withHeaderParam("api_key", apiKey)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param apiKey 
   * @param iNSTEONID Endpoint INSTEON ID
   * @param body If in dimmer mode, this is a percentage of dimmable range (0-100%).If in relay mode, constrained to either 0 (&#39;off&#39;) or 100 (&#39;on&#39;).
   */
  def endpointLightLevel(apiKey: String, iNSTEONID: String, body: LightLevel): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/nwp/endpoint/light_level/{INSTEON ID}", "application/json")
      .withBody(body)
      .withPathParam("INSTEON ID", iNSTEONID)
      .withHeaderParam("api_key", apiKey)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param apiKey 
   * @param body factory reset
   */
  def factoryreset(apiKey: String, body: Factoryreset): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/nwp/device/factory_reset", "application/json")
      .withBody(body)
      .withHeaderParam("api_key", apiKey)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param apiKey 
   * @param body linkmode setting
   */
  def linkmode(apiKey: String, body: Linkmode): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/nwp/insteon/linkmode", "application/json")
      .withBody(body)
      .withHeaderParam("api_key", apiKey)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param body reset local DC01
   */
  def restart(body: Reset): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/nwp/device/restart", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](405)
      

}

