/**
 * Vantaa DC01-NWP HOST to DISPLAY HOST API 
 * API for Vantaa DC01 between NETWORK HOST [NWP] and DISPLAY HOST [DHP].  You can find out more about Smartlabs DC01 at [https://smartlabsinc.com](h://smartlabsinc.com).   For this sample, you can use the api key `special-key` to test the authorization     filters.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: info@smartlabsinc.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.Scenelist
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ScenesApi {

  /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * Available security schemes:
   *   api_key (apiKey)
   * 
   * @param apiKey 
   * @param body  scene list 
   */
  def scenelist(apiKey: String, body: Scenelist)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/scenes/scenelist", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withBody(body)
      .withHeaderParam("api_key", apiKey)
      .withErrorResponse[Unit](405)
      

}

