/**
 * Vantaa DC01-NWP HOST to DISPLAY HOST API 
 * API for Vantaa DC01 between NETWORK HOST [NWP] and DISPLAY HOST [DHP].  You can find out more about Smartlabs DC01 at [https://smartlabsinc.com](h://smartlabsinc.com).   For this sample, you can use the api key `special-key` to test the authorization     filters.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: info@smartlabsinc.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.UpdateNWPInprocess
import io.swagger.client.model.UpdateNWPProgress
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object UpdateApi {

  /**
   * NWP firmware will update periodically and the DHP will need to indicated that there is limited functionality during this update
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param apiKey 
   * @param body update percentage
   */
  def updateNWPInprocess(apiKey: String, body: UpdateNWPInprocess): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/update_nwp/inprocess", "application/json")
      .withBody(body)
      .withHeaderParam("api_key", apiKey)
      .withErrorResponse[Unit](405)
        /**
   * 
   * Expected answers:
   *   code 405 :  (Invalid input)
   * 
   * @param body update percentage
   */
  def updateNwpProgress(body: UpdateNWPProgress): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/cbeck-insteon/test/1.0.0", "/update_nwp/progress", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](405)
      

}

